/*
 * "BIZ UDPGothic" is lisenced under the SIL Open Font License 1.1
 * https://fonts.google.com/attribution
 * http://scripts.sil.org/OFL
 */

@font-face {
    font-family: "BIZ UDPGothic", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
}

html {
    font-family: "BIZ UDPGothic", sans-serif;
}